* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    filter: invert(0);
    overflow-x: hidden;
    user-select: none;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 0;
    /* background: #e0e0e0; */
    background-color: rgba(202, 202, 202, 0.8);


    & > a {

        display: block;
        color: #012957;
        font-weight: 700;
        transition: 0.3s;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;  
        margin: 0 0 0 35px;

        &:hover {
            text-decoration: underline;
            transition: 0.3s;
            color: #1c5494;
        }
    }
}


.content {
    z-index: 1;
    /* min-width: 100vw;
    min-height: 100dvh; */
}

.hero {
    min-width: 100vw;
    min-height: 100dvh;

    background-size: cover;
    background-image: url(./bg.jpg);
    background-position: center;

    .container {
        margin: auto;
        /* min-height: calc(100dvh - 130px); */
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 40px;
    }

    .text1 {
        font-weight: 700;
        color:#012957;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
    .action {
        align-self: end;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text2 {

            font-weight: 300;
            color: #D0E6FF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            /* margin: 40px 0 40px 0; */
            
            & > span {

                font-weight: 700;
            }            
        }

        .btn {

            color: #D0E6FF;
            background-color: rgba(202, 202, 202, 0.5);
            border-radius: 12px;
            border: 1px solid #fff;
            width: 50%;
            /* align-self: end; */
            transition: 0.3s;
            cursor: pointer;

            &:hover {

                background-color: rgba(202, 202, 202, 0.8);
                transition: 0.3s;
            }

            &:active {

                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.questions {

    background: #f0f0f0;
    border-radius: 15px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;

    & > div {

        display: flex;
        flex-direction: column;
        align-items: center;

        
       
        & > div {
            margin: 60px 0 25px 0;
            font-weight: 700;
            color: #011c3b;
            text-align: center;
        }

        & > label {
            padding: 12px 25px;
            border: 1px solid rgb(204, 204, 204);
            background-color: #fdfdfd;
            border-radius: 8px;
            margin: 0 0 5px 0;
            transition: 0.2s;
        

            &:hover {

                background-color: #f0efef;
                transition: 0.2s;
            }

            & > input {

                margin: 0 12px 0 0;
                cursor: pointer;
            }
        }
    }

    & > .btn_submit {

        margin: 40px 0 0 0;
        padding: 12px 20px;
        background: #1050ff;
        color: #f0efef;
        border: 2px solid #dfdfdf;
        border-radius: 8px;
        transition: 0.2s;

        &:hover {

            background: #0b38b4;
        }

        &:active {

            background: rgb(238, 238, 238);
            color: #1050ff;
        }

    }
}

.menu_bg {

    width: 100vw;
    height: 100dvh;
    z-index: -5;
    background: #00000000;
    transition: 1.5s;
    position: absolute;
    top: 0; left: 0;

    & > .menu {

        transition: 0.4s;
        background: #353535;
        border: 2px solid #353535;
        border-radius: 10px;
        box-shadow: 2px 4px 5px rgb(119, 119, 119);
        max-width: 1000px;
        width: 80%;
        margin: auto;
        position: relative;
        top: -100%;

        & > .header {

            color: rgb(230, 230, 230);
            text-align: center;
        }

        & > .title {

            color: rgb(230, 230, 230);
            font-weight: 700;
            text-align: center;
        }

        & > .text3 {

            color: rgb(209, 208, 208);
            margin: 0 0 5px 0;
            font-size: 19px;
        }

        & > .ul {

            margin: 0 0 30px 40px;
            color: rgb(209, 208, 208);
            font-size: 18px;

            & > .li::first-letter {

                margin: 5px 0;
                text-transform: uppercase;
            }
        }

        & > .about_direction {

            color: rgb(209, 208, 208);
            font-size: 18px;
        }

        & > .buttons {

            display: flex;
            justify-content: space-around;
            align-items: flex-end;

            & > .exit {
    
                padding: 12px 14px;
                background: #6e6e6e;
                margin: 35px 0 0 0;
                display: block;
                /* position: absolute;
                bottom: 50px; */
                color: rgb(209, 208, 208);
                font-size: 16px;
                border-radius: 10px;
                border: 1px solid #777777;
            
                &:hover {
    
                    background: #8f8f8f;
                }
    
                &:active {
    
                    background:#a5a5a5;
                }
            }
    
            & > .button-left, .button-right {
    
                font-size: 40px;
                color: rgba(243, 243, 243, 0.908);
                background: transparent;
                border: none;   
            }

            & > .button-left:hover, .button-right:hover {
    
                color: rgba(243, 243, 243, 0.625);
 
            }
    
            & > .button-left:active, .button-right:active {
    
                color: rgba(243, 243, 243, 0.847);
 
            }

        }

    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media (min-width: 650px) {
    
    .hero {

        padding-top: 130px;
    }

    .container {

        min-height: calc(100dvh - 130px);
    }

    .header {

        font-size: 28px;
    }

    .text1, .action {

        width: 65%;
    } 

    .text1 {

        font-size: 48px;
    }

    .text2  {

        margin: 0 0 15vh 0;
        font-size: 30px;
    }

    .btn {

        padding: 20px 30px;
        font-size: 24px;
    }

    .action {

        width: 75%;
    }

    .questions > div {

        font-size: 25px;
    }

    .questions > div > label {

        width: 600px;
        font-size: 19px;
    }

    nav > a {

        font-size: 24px;
    }

    .btn_submit {

        font-size: 30px;
    }

    .title {

        font-size: 26px;
        margin: 0 0 25px 0;
    }

}


@media (max-width: 650px) {
    
    .hero {

        padding-top: 75px;
    }

    .container {

        min-height: calc(100dvh - 75.38px);
    }

    .header {

        font-size: 22px;
    }

    .title {

        font-size: 24px;
        margin: 0;
        text-decoration: underline;
    }

    .text1, .action {

        width: 100%;
    }

    .text1 {

        font-size: 30px;
    }

    .text2  {

        margin: 0 0 5vh 0;
        font-size: 20px;
    }

    .btn {

        padding: 8px 20px;
        font-size: 15px;
    }

    .icon {

        width: 150px;
    }

    .questions > div {

        font-size: 24px;
    }

    .questions > div > label {

        width: 340px;
        font-size: 15px;
    }

    .btn_submit {

        padding: 12px 20px;
        font-size: 18px;
    }

    nav > a {

        font-size: 12px;
    }

    .menu {

        padding: 20px;
    }

    .text3, .ul, .about_direction {

        display: none;
    }
}